<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Pdf_Remover</title>
    <link rel='stylesheet' type='text/css' href= "{{ url_for('static',filename='styles/style.css') }}"/>
  </head>
  <body>
    <script>
      performanceData = {
        0: "Precision",
        1: "Speed"
      };
      window.onload = function(){ 
        document.getElementById("performance").oninput = function(){
          document.getElementById('perfValLabel').innerHTML = performanceData[this.value];
        }
      };
      
    </script>
    <div class="title-container">
      <h1 class="display-3"> Remove blank pages in your PDF </h1>
    </div>
    <div class="body-container">
        <label class="display-4" id="submit">Submit PDF</label>
        <div class="submit-container">
          <form class="form-group" id="uploadbanner" enctype="multipart/form-data" method="POST" action="/api/v1.0/tasks/render/">
            <input  class="display-4" id="fileupload" name="file" type="file" />
            <input class="display-4" type="submit" value="Submit" id="Submit" />
            <div class="options-container">
              <div class="threshold-container">
                <label style="font-size:18px" class="display-4" for="customRange1">Blank Page Threshold</label>
                <button style = "padding: 0 4px;" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="0% threshold is most suitable for completely blank pages, if there is small amounts of text/markings, adjust upwards accordingly. If you go too high, you may end up with unwanted deleteted pages.">?</button>
                <input value="0" name="threshold" step="0.1" type="range" min="0" max="5" class="custom-range" id="threshold" oninput="document.getElementById('rangeValLabel').innerHTML = this.value + '%';">
                <em id="rangeValLabel">0%</em>
              </div>
              <br><br><br>
                <div class="performance-container">
                <label style="font-size:18px" class="display-4" for="customRange1">Performance Options</label>
                <button style = "padding: 0 4px;" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Use precision for low page count pdfs, use speed for high page count pdfs">?</button>
                <input value="0" name="performance" type="range" min="0" max="1" class="custom-range" id="performance">
                <em id="perfValLabel">Precision</em>
              </div>
            </div>
          </form>
      </div>
    </div>
  </body>
</html>