input{
    font-size:15px !important;
}

button{
    padding: 5px;
}

.title-container, .body-container{
    text-align: center;
    margin-top: 50px;
}
.body-container, .submit-container{
    padding-top: 100px;
    margin-bottom: 10%;
    width:70%;
    margin: 0 auto;
}

.options-container{
    text-align: center;
    padding-top: 20%;
    margin-top: 20%;
    margin: 0 auto;
}

#submit{
    font-size: 30px;
}

.performance-container{
    width: 30% !important;
    margin: 0 auto;
}