.title-container, .body-container{
    text-align: center;
    margin-top: 50px;
}
.body-container, .submit-container{
    padding-top: 100px;
    margin-bottom: 10%;
}

.options-container{
    text-align: center;
    width:40%;
    margin: 0 auto;
}

#submit{
    font-size: 30px;
}